* {
    box-sizing: border-box; /* Adicionado */
}

body{
    background-color:rgb(215, 243, 113);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    background-color: grey;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    border: rgb(255, 255, 255) 5px solid;
    border-radius: 5px;
}

.tela{
    height: 150px;
    width: 100%;
    border-bottom:  rgb(255, 255, 255) 5px solid;
}

.fileira{
    display: flex;
    justify-content: space-evenly;
    height: 70px;
    width: 100%;
    margin: 5px 0;
    
}

button {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
    height: 70px;
    width: 70px;
    border: rgb(255, 255, 255) 5px solid;
    border-radius: 35px;
    background-color: rgb(221, 209, 47);

}

.maior {
    width: 350px;
}